<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <img [src]="oneReceita.img"/>
    <ion-card-header>
      <ion-card-title>{{oneReceita.receita}}</ion-card-title>
      <ion-card-subtitle>{{oneReceita.ingredientes}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{oneReceita.preparo}}
    </ion-card-content>
     
  </ion-card>
</ion-content>
